#!/usr/bin/make -f

DEB_BUILD_ARCH_CPU := $(shell dpkg-architecture -qDEB_BUILD_ARCH_CPU 2>/dev/null)

UVERS := $(shell dpkg-parsechangelog | sed -n 's/^Version: \(.*\)-[0-9]*/\1/p')

include /usr/share/cdbs/1/rules/buildcore.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/dpatch.mk

configure/busybox-sidux::
	@if [ -f $(CURDIR)/debian/config/$(DEB_BUILD_ARCH_CPU) ]; then \
		install -m0644 $(CURDIR)/debian/config/$(DEB_BUILD_ARCH_CPU) \
			$(CURDIR)/.config; \
	else \
		install -m0644 $(CURDIR)/debian/config/generic \
			$(CURDIR)/.config; \
	fi
	$(MAKE) oldconfig

build/busybox-sidux::
	$(MAKE)
	mv busybox busybox.static
	@echo
	for cmd in `./busybox.static | \
			sed -n '/functions:$$/,$$p' | \
			sed -e '/functions\:/d; s/[[:space:]]*//g; s/,$$//; s/,/\n/g; /busybox/d'`; do \
				echo $$cmd; \
	done
	@echo

clean/busybox-sidux::
	$(MAKE) distclean
	rm -f .config busybox.static

get-orig-source:
	@dh_testdir
	@test -d ../tarballs || mkdir -p ../tarballs
	@wget -Nc -T10 -O ../tarballs/busybox-sidux_$(UVERS).orig.tar.gz \
		http://busybox.net/downloads/busybox-$(UVERS).tar.gz
