#!/usr/bin/make -f

DEB_BUILD_ARCH_CPU      := $(shell dpkg-architecture -qDEB_BUILD_ARCH_CPU 2>/dev/null)

include /usr/share/cdbs/1/rules/buildcore.mk
include /usr/share/cdbs/1/rules/debhelper.mk
#include /usr/share/cdbs/1/rules/simple-patchsys.mk

configure/busybox-kanotix::
	#$(MAKE) defconfig
	cat $(CURDIR)/debian/config/$(DEB_BUILD_ARCH_CPU) > $(CURDIR)/.config
	$(MAKE) oldconfig

build/busybox-kanotix::
	$(MAKE) dep
	$(MAKE)

clean/busybox-kanotix::
	$(MAKE) distclean

